---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/* LOGO */
#logo { padding:40px 0 20px 0; }
#logo h1 { margin-bottom:0; margin-top:15px; line-height:100%; }
#logo p { margin:1px 0 7px 0; }
#logo img { max-height:70px; float:left; margin-right:16px; }
#logo a:hover { text-decoration:none; background:none; }

h1.brand {
  font-size: 4em;
  margin: 20px 0;
}

.brand {
  padding: 20px auto;
  font-family: 'Fredericka the Great', cursive;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
