/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

pre code {
  display: block;
  padding: 0.5em;
  color: #404040;
}

pre code.bis {
  background: #343131;
  color: #E6E1DC;
}

pre .comment,
pre .template_comment,
pre .javadoc,
pre .shebang {
  color: #BC9458 !important;
  font-style: italic;
}

pre .keyword,
pre .ruby .function .keyword,
pre .request,
pre .status,
pre .nginx .title,
pre .method,
pre .control,
pre .list .title {
  color: #C26230;
}

pre .string,
pre .number,
pre .regexp,
pre .tag .value,
pre .cdata,
pre .filter .argument,
pre .attr_selector,
pre .apache .cbracket,
pre .date,
pre .tex .command,
pre .markdown .link_label {
  color: #A5C261;
}

pre .subst {
  color: #519F50;
}

pre .tag,
pre .tag .keyword,
pre .tag .title,
pre .doctype,
pre .sub .identifier,
pre .pi,
pre .input_number {
  color: #E8BF6A;
}

pre .identifier {
  color: #D0D0FF;
}

pre .class .title,
pre .haskell .type,
pre .smalltalk .class,
pre .javadoctag,
pre .yardoctag,
pre .phpdoc {
  text-decoration: none;
}

pre .constant {
  color: #DA4939;
}

pre .raw {
  padding: 3px 0px;
  background-color: #4C4C4C;
  color: #CC7833;
}

pre .symbol,
pre .built_in,
pre .ruby .symbol .string,
pre .ruby .symbol .identifier,
pre .markdown .link_url,
pre .attribute {
  color: #6D9CBE;
}

pre .markdown .link_url {
  text-decoration: underline;
}



pre .params,
pre .variable,
pre .clojure .attribute {
  color: #D0D0FF;
}

pre .css .tag,
pre .rules .property,
pre .pseudo,
pre .tex .special {
  color: #CDA869;
}

pre .html-tag {
  color: #E6E1DC;
}

pre .css .class {
  color: #9B703F;
}

pre .rules .keyword {
  color: #C5AF75;
}

pre .rules .value {
  color: #CF6A4C;
}

pre .css .id {
  color: #8B98AB;
}

pre .annotation,
pre .apache .sqbracket,
pre .nginx .built_in {
  color: #9B859D;
}

pre .preprocessor,
pre .preprocessor *{
  color: #8996A8 !important;
}

pre .hexcolor,
pre .css .value .number {
  color: #A5C261;
}

pre .title,
pre .decorator,
pre .css .function {
  color: #FFC66D;
}

pre .diff .header,
pre .chunk {
  background-color: #2F33AB;
  color: #E6E1DC;
  display: inline-block;
  width: 100%;
}

pre .diff .change {
  background-color: #4A410D;
  color: #F8F8F8;
  display: inline-block;
  width: 100%;
}

pre .addition {
  background-color: #144212;
  color: #E6E1DC;
  display: inline-block;
  width: 100%;
}

pre .deletion {
  background-color: #600;
  color: #E6E1DC;
  display: inline-block;
  width: 100%;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.7;
}

/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

.hljs {
  /*display: inline-block;*/
  padding: 0.5em;
  background: #343131;
  color: #e6e1dc;
  /*width: 100%;*/
  overflow-x: auto;
}

.hljs-comment,
.hljs-template_comment,
.hljs-javadoc,
.hljs-shebang {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.ruby .hljs-function .hljs-keyword,
.hljs-request,
.hljs-status,
.nginx .hljs-title,
.method,
.hljs-list .hljs-title {
  color: #c26230;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-tag .hljs-value,
.hljs-cdata,
.hljs-filter .hljs-argument,
.hljs-attr_selector,
.apache .hljs-cbracket,
.hljs-date,
.tex .hljs-command,
.markdown .hljs-link_label {
  color: #a5c261;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-tag .hljs-keyword,
.hljs-tag .hljs-title,
.hljs-doctype,
.hljs-sub .hljs-identifier,
.hljs-pi,
.input_number {
  color: #e8bf6a;
}

.hljs-identifier {
  color: #d0d0ff;
}

.hljs-class .hljs-title,
.haskell .hljs-type,
.smalltalk .hljs-class,
.hljs-javadoctag,
.hljs-yardoctag,
.hljs-phpdoc {
  text-decoration: none;
}

.hljs-constant {
  color: #da4939;
}


.hljs-symbol,
.hljs-built_in,
.ruby .hljs-symbol .hljs-string,
.ruby .hljs-symbol .hljs-identifier,
.markdown .hljs-link_url,
.hljs-attribute {
  color: #6d9cbe;
}

.markdown .hljs-link_url {
  text-decoration: underline;
}



.hljs-params,
.hljs-variable,
.clojure .hljs-attribute {
  color: #d0d0ff;
}

.css .hljs-tag,
.hljs-rules .hljs-property,
.hljs-pseudo,
.tex .hljs-special {
  color: #cda869;
}

.css .hljs-class {
  color: #9b703f;
}

.hljs-rules .hljs-keyword {
  color: #c5af75;
}

.hljs-rules .hljs-value {
  color: #cf6a4c;
}

.css .hljs-id {
  color: #8b98ab;
}

.hljs-annotation,
.apache .hljs-sqbracket,
.nginx .hljs-built_in {
  color: #9b859d;
}

.hljs-preprocessor,
.hljs-preprocessor *,
.hljs-pragma {
  color: #8996a8 !important;
}

.hljs-hexcolor,
.css .hljs-value .hljs-number {
  color: #a5c261;
}

.hljs-title,
.hljs-decorator,
.css .hljs-function {
  color: #ffc66d;
}

.diff .hljs-header,
.hljs-chunk {
  background-color: #2f33ab;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.diff .hljs-change {
  background-color: #4a410d;
  color: #f8f8f8;
  display: inline-block;
  width: 100%;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.7;
}