<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-144.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png">
  <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/railscasts.css">
  <script src="/scripts/hl.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
