<header class="site-header">

  <div class="wrapper">

    <!-- <a class="site-title" >{{ site.title }}</a> -->
    <h1 class="brand site-title"><a href="{{ site.baseurl }}/"><img src="/images/wicklabs.jpg"></a></h1>
    {% assign pages = site.pages | sort:"weight"  %}
    <nav class="site-nav">
      <div class="trigger">
        {% for page in pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
